@use '../../styles.scss';

.newprod-section {
    min-height: 100vh;
    min-width: 100%;
    background-color: styles.$light-black;
    margin-bottom: 8%;
   
}

.newprod-image {
    background-image: url('../../images/image-hero.jpg');
    color: styles.$light-text-color; 
    background-size: 80%;
    background-position: top center; 
    background-repeat: no-repeat;
    background-attachment: local;
    object-fit: fill;
    width: 100%; 
    height: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newprod-info {
    text-align: left;
    position: relative;  
    top: 10%;
}

.new-text {
    font-size: clamp(0.6rem, 1.5vw, 2rem);
    line-height:1.7;
    letter-spacing: 10px;
    text-transform: uppercase;
    mix-blend-mode: normal;
    opacity: 0.5;
    font-family: styles.$heading-font;
   
}

.newprod-name {
    font-family: styles.$heading-font;
    font-style: normal;
    font-weight: bold;
    font-size: clamp(2.0rem, 3.5vw, 5rem);
    line-height:1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 50%;
}

.newprod-info-text {
    font-family: styles.$heading-font;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.8rem, 1.5vw, 1.8rem);
    line-height:1.5;
    mix-blend-mode: normal;
    opacity: 0.75;
    width: 30%;
    top: -52.89%;
    bottom: 25.43%;
}

.newprod-bttn {
    width: 160px;
    height: 45px;
    font-family: styles.$heading-font;
    font-style: normal;
    font-weight: bold;
    font-size: clamp(0.6rem, 1.5vw, 1rem);
    line-height:1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: styles.$light-text-color;
    background-color: styles.$accent-color;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    
}

@media screen and (min-width:800px) {
    .newprod-image {
        height: 600px;
        background-position: center;
    }
}

@media screen and (max-width:600px) {
    .newprod-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .newprod-image {
        height: 400px;
        background-position: 85% 60%;
        background-attachment: center;
    }

    .newprod-info-text {
        width: 80%;
        text-align: center;
    }
    .newprod-name {
        width: 100%;
        text-align: center;
    }

    .newprod-bttn {
        width: 100px;
        height: 35px;
    }
}


