@use '../../styles.scss';

.newprod-section {
    min-height: 100vh;
    min-width: 100%;
    background-color: styles.$light-black;
    margin-bottom: 8%;
}

.newprod-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.newprod-image {
    background-image: url('../../images/ih.png');
    color: styles.$light-text-color; 
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: fill;
    width: 80%; 
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newprod-info {
    position: relative;  
    color: white;
}

.new-text {
    font-size: clamp(0.6rem, 1.5vw, 2rem);
    line-height:1.7;
    letter-spacing: 10px;
    text-transform: uppercase;
    mix-blend-mode: normal;
    font-family: styles.$heading-font;
    color: styles.$accent-color;
   
}

.newprod-name {
    font-family: styles.$heading-font;
    font-style: normal;
    font-weight: bold;
    font-size: clamp(1.5rem, 3.5vw, 5rem);
    line-height:1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 60%;
}

.newprod-info-text {
    font-family: styles.$heading-font;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.8rem, 1.5vw, 1.8rem);
    line-height:1.5;
    mix-blend-mode: normal;
    opacity: 0.75;
    width: 50%;
}


@media screen and (min-width:800px) {
    .newprod-image {
        height: 600px;
        background-position: center;
    }
}

@media screen and (max-width:900px) {
    .newprod-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .newprod-image {
        height: 400px;
        background-position: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }

    .newprod-info-text {
        text-align: center;
        width: 63%;
    }
    .newprod-name {
        width: 100%;
        text-align: center;
    }

    .newprod-bttn {
        width: 100px;
        height: 35px;
    }
}


@media screen and (min-width:1500px) {
    .newprod-image {
        width: 800px;
        height: 650px;
        background-position: center;
    }
}