@use '../../styles.scss';

.newprod-section {
    min-height: 100vh;
    min-width: 100%;
    background-color: styles.$light-black;
    margin-bottom: 8%;
}

.newprod-info {
    position: relative;  
    color: white;
}

.new-text {
    font-size: clamp(0.6rem, 1.5vw, 2rem);
    line-height:1.7;
    letter-spacing: 10px;
    text-transform: uppercase;
    mix-blend-mode: normal;
    font-family: styles.$heading-font;
    color: styles.$accent-color;

}

.newprod-name {
    font-family: styles.$heading-font;
    font-style: normal;
    font-weight: bold;
    font-size: clamp(1.5rem, 3.5vw, 5rem);
    line-height:1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.newprod-info-text {
    font-family: styles.$heading-font;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.8rem, 1.5vw, 1.8rem);
    line-height:1.5;
    mix-blend-mode: normal;
    line-height:1.5;
    opacity: 0.75;
}

/* ----------------------------------------------- */
// media qeuries

// desktop
@media screen and (min-width:1000px) {
    .newprod-image {
        background-image: url('../../images/ih.png');
        color: styles.$light-text-color; 
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: fill;
        width: 750px; 
        height: 800px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .newprod-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;
    }
    .newprod-name {
        width: 60%;
    }
    .newprod-info-text {
        width: 80%;
    }
}



// tablet
@media screen and (max-width:700px) {
   .newprod-image {
    background-image: url('../../images/tablet-headphones.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: fill;
    width: 100%; 
    height: 900px;
   }
   .newprod-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }

}

// mobile



