@use '../../../styles.scss';

.headphones-section {
    background-color: styles.$primary-color
}

.prod-1 {
    font-family: styles.$heading-font;
}

.prod-p {
    font-family: styles.$heading-font;
}