
@use '../../styles.scss';

.cart-section {
    min-height: 100vh;
    min-width: 100%;
    background-color: styles.$primary-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top-container, .totals-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.top-container {
    margin-bottom: 3%;
}

.totals-container {
    margin-top: 3%;
}

.total-items-p, .subtotal-p {
    font-family: styles.$heading-font;
    text-transform: uppercase;
    font-size: clamp(0.5rem, 1.3vw, 2.0rem);
}

.item-h1 {
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    text-transform: uppercase;
}


.empty-btn, .check-out-btn {
    font-family: styles.$heading-font;
    text-transform: uppercase;
    min-width: 130px;
    height: 40px;
    border: none; 
    border-radius: 5px;
    color: styles.$light-text-color; 
    background-color: styles.$accent-color;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    cursor: pointer;
}

.empty-cart-section {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.empty-h1 {
    font-family: styles.$heading-font;
    font-size: clamp(0.5rem, 3.0vw, 5.0rem);
    margin-top: -20%;
}

.see-btn {
    font-family: styles.$heading-font;
    text-transform: uppercase;
    min-width: 130px;
    margin-top: 10%;
    height: 40px;
    border: none; 
    border-radius: 5px;
    color: styles.$light-text-color; 
    background-color: styles.$accent-color;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    cursor: pointer;
}


@media screen and (max-width:550px) {
    .empty-btn, .check-out-btn {
        min-width: 100px;
        height: 30px;
    }
    

    
}