@use '../../styles.scss';

.nav-section {
    background-color: styles.$light-black;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid grey;
}


.audio-p {
    color: styles.$light-text-color;
    font-family: styles.$nav-name;
    font-size: clamp(1.0rem, 1.4vw, 1.5rem);
    text-decoration: none;
}

.nav-info {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}


.nav-link, .cart-link {
    text-decoration: none;
    font-family: styles.$heading-font;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: clamp(0.3rem, 1.4vw, 0.8rem);
    color: styles.$light-text-color;
}

.cart {
    color: white;
}


.menu {
    color: white;
    display: none;
}


@media screen and (max-width:900px) {
    .nav-info, .cart {
        display: none;
        cursor: pointer;
    }

    .menu {
        display: flex;
    }
}