@use '../../styles.scss';

.nav-section {
    background-color: #1a1a1a;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


.audio-p {
    color: styles.$light-text-color;
    font-family: styles.$nav-name;
}

.nav-link {
    text-decoration: none;
    font-family: styles.$heading-font;
    text-transform: uppercase;
    font-size: clamp(0.3rem, 1.4vw, 0.9rem);
    color: styles.$light-text-color;
    display: inline-block;
    
}