@use '../../styles.scss';

.cart-item-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item-details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    margin-bottom: 10px;
}


.item-qty {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: right;
    gap: 20%;
}

.item-img {
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    border-radius: 5px;

}

.item-h1, .item-qty-cart {
    font-family: styles.$heading-font;
    font-style: bold;
}

.item-h1 {
    font-size: clamp(0.8rem, 1.3vw, 2.7rem);
}

.item-total {
    font-family: styles.$heading-font;
    font-size: clamp(0.5rem, 1.3vw, 2.0rem);
    opacity: 0.6;
}

.item-qty {
    border: none;
    min-width: 110px;
    height: 30px;
    background-color: styles.$light-grey;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-qty-cart {
    font-size: clamp(0.5rem, 1.3vw, 1.0rem);
}


.update-btn {
    font-size: clamp(0.5rem, 1.3vw, 1.0rem);
    cursor: pointer;
}
