@use '../../styles.scss';

.footer-section {
    min-width: 100%;
    height: 100px;
    color: styles.$light-text-color;
    background-color: styles.$light-black;
    padding: 10px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.footer-h1 {
    color: styles.$light-text-color;
    font-family: styles.$nav-name;
    font-size: clamp(1.0rem, 1.4vw, 1.5rem);
}

.footer-icons {
    display: flex;
    gap: 10%;
    cursor: pointer;
}