// This is the main scss file
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Cutive+Mono&family=Dancing+Script:wght@600&family=Josefin+Sans:wght@100&family=Jost&family=Lato&family=Lobster&family=Maitree:wght@200&family=Noto+Serif:wght@700&family=Open+Sans:wght@300&family=Orbitron:wght@700&family=Pacifico&family=Philosopher&family=Play&family=Playfair+Display:wght@400;500&family=Poppins:wght@500;600&family=Press+Start+2P&family=Quicksand&family=Raleway:wght@100&family=Roboto:wght@300&family=Urbanist:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Cutive+Mono&family=Dancing+Script:wght@600&family=Josefin+Sans:wght@100&family=Jost&family=Lato&family=Lobster&family=Maitree:wght@200&family=Manrope&family=Noto+Serif:wght@700&family=Open+Sans:wght@300&family=Orbitron:wght@700&family=Pacifico&family=Philosopher&family=Play&family=Playfair+Display:wght@400;500&family=Poppins:wght@500;600&family=Press+Start+2P&family=Quicksand&family=Raleway:wght@100&family=Roboto:wght@300&family=Urbanist:wght@500;600&display=swap');

// COLORS
$primary-color: #F2F2F2; // background color 
$secondary-color: #141414; // this color is on some backgrounds
$light-grey: #F1F1F1; // background color for item boxes
$dark-grey: #979797; // darker grey background color for some items
$accent-color: #D87D4A; 
$light-text-color: #FFFFFF; // for white text color
$medium-text-color: #979797; // for grey text color
$dark-text-color: #000000; // for black text color

// FONT 
$nav-name: 'Poppins', sans-serif; // for audiophile in navbar
$heading-font: 'Manrope', sans-serif; // for headings and paragraphs

// FONT WEIGHTS

body {
  margin: auto; 
}

.nav-info,
.newprod-info,  
.links-info,
.about-info, 
.speaker-1, 
.speaker-2, 
.footer-info {
  display: block;
  margin: auto;
  max-height: 90%;
  max-width: 80%;
}


